body { background-color: white;
      color: #000099;
      font-family: Arial;
     }
a href {  background-color: #CCCCCC;
       }
h1 {    font-family: Times New Roman;
    color: black;
   }
.news {   color: red;
       font-family: Italic;
      }
              
